/* tagname or id or classname{
    
 prperty:value;
 property1:value2;   
    
    
}*/
div{
    margin: auto;
    
}
div label{
    margin-left: 180px;
}


div li{
    margin-left: 180px;
}
body{

    background-image: url("IPL-2020.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    background-color: rgb(54, 82, 72);
}

h1{

    color:red;
}

#one{

    color: rgba(191, 29, 175,1);
}


div{

border-style: solid;
border-color: azure;
border-width:5px;
background-color: yellow;
width: 50%;

}

#mi{

border-style: solid;
border-color: black;
border-width: 5px;
background-color: rgb(30, 105, 212);


}

.team{

    border-style: solid;
    border-color: rgb(85, 13, 13);
    border-width: 5px;
    background-color: rgba(212, 30, 48,1);

}




